{% extends 'loja/main.html' %}

{% block content %}

{% if page == 'register' %}
<h1>Cadastro do usuario</h1>

<form method="POST" action="{% url 'register' %}">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Cadastrar" />
</form>

<p>Já é cadastrado? <a href="{% url 'login' %}">Login</a></p>

{% else %}
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Digite sua senha" />
    <input type="submit" name="Login" />

    <p>Ainda não tem conta? <a href="{% url 'register' %}">Faça seu Cadastro</a></p>
</form>
{% endif %}


{% endblock content %}