{% extends 'loja/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'loja' %}"><i class="fa-solid fa-arrow-left btn-voltar"></i></a>

            <br>
            <br>
            <p>ID da lista: {{ lista_selecionada_id }}</p>

            <form action="{% url 'wishlist' %}" method="get">
                <select name="lista_id" onchange="this.form.submit()">
                    {% for lista in listas %}
                    <option value="{{ lista.id }}" {% if lista.id == lista_selecionada_id %}selected{% endif %}>
                        {{ lista.nome }}
                    </option>
                    {% endfor %}
                </select>
            </form>
            
            <form method="post" action="{% url 'criar_lista' %}">
                {% csrf_token %}
                <input type="text" name="nome_lista" placeholder="Nome da nova lista">
                <button type="submit" class="btn-primary">Criar Lista</button>
            </form>
            

            <table class="table">
                <tr>
                    <th><h5>Itens: <strong>{{ total_quantidade }}</strong></h5></th>
                    <th><h5>Total: <strong>R$ {{ valor_total|floatformat:2 }}</strong></h5></th>
                    <hr>
                </tr>
            </table>
        </div>

        <br>
        {% if lista_selecionada %}
        <div class="box-element">
            <h3 class="list-header">{{ lista_selecionada.nome }}</h3>
            <a href="{% url 'deletar_lista' lista_selecionada.id %}" title="Deletar Lista">
                <i class="fa-solid fa-trash"></i>
            </a>
            
            <div class="list-row">
                <div style="flex:1; text-align: center">Produto</div>
                <div style="flex:1; text-align: center">Loja</div>
                <div style="flex:2; text-align: center">Item</div>
                <div style="flex:1; text-align: center">Preço</div>
                <div style="flex:1; text-align: center;">Quantidade</div>
                <div style="flex:1; text-align: center;">Total</div>
            </div>

            {% for item in itens_lista %}
            <div class="list-row">
                <div style="flex:1; text-align: center"><img class="row-image" src="{{ item.produto.imageURL }}"></div>
                <div style="flex:1; text-align: center"><img class="row-image" src="{{ item.produto.loja.imageURL }}"></div>
                <div style="flex:2; text-align: center">{{ item.produto.nome }}</div>
                <div style="flex:1; text-align: center">R$ {{ item.produto.preco|floatformat:2 }}</div>
                <div style="flex:1">
                    
                    <div class="quantidade">
                        <a class="muda-quantidade" href="{% url 'adicionar_a_lista' lista_selecionada.id item.produto.id %}?origem=lista">
                            <i class="fa-solid fa-arrow-up"></i>
                        </a>
                        <p class="quantidade">{{ item.quantidade }}</p>
                        <a class="muda-quantidade" href="{% url 'remover_da_lista' item.id %}">
                            <i class="fa-solid fa-arrow-down"></i>
                        </a>
                    </div>
                </div>
                <div style="flex:1; text-align: center;">R$ {{item.get_total}}</div>
            </div>
            {% endfor %}

        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}